<div class="sidebar">
   
    <ul class="nav-list">
     
      <li>
          <a href="/aggressive">
            <img src="/assets/briefcase.png" alt="">
        </a>
        <span class="tooltip">Агрессивный</span>
         
      </li>
      <li>
        <a href="/moderate">
            <img src="/assets/briefcase.png" alt="">
       </a>
       <span class="tooltip">Умеренный</span>
     </li>
     <li>
        <a href="/conservative">
            <img src="/assets/briefcase.png" alt="">
       </a>
       <span class="tooltip">Консервативный</span>
     </li>
     <li>
      <div class="box-1">
        <div class="btn btn-one">
          <span>Add</span>
        </div>
      </div>
     <span class="tooltip">Добавить портфель</span>
   </li>
    </ul>
  </div>
  <section class="home-section">
    <router-outlet></router-outlet>
  </section>
 